<div class="wrapper">
  <h1>Welcome on SPATasker</h1>
  <h2>This App serves for you and help with managing your taks and plans</h2>
  <p>After sign up you will have possibilities to:</p>
  <ul>
    <li>you can add task and choose date of planned finish</li>
    <li>you will be able to see tasks for every day in a week and months</li>
    <li>
      it will be possible for you to choose future date from calendary and see
      your tasks
    </li>
  </ul>
  <div class="user">
    <span>example user:</span>
    <div class="data">
      <p>logIn: user</p>
      <p>password: password</p>
    </div>
  </div>
  <div class="logInPanel">
    <button class="btn btn__purple">sign up</button>
    <button class="btn btn__purple">sing in</button>
  </div>
</div>
