<h1>Welcome on SPATasker</h1>
<h2>This App serves for you and help with managing your taks and plans</h2>
<p>After sign up you will have possibilities to:</p>
<ul class="functions">
  <li>you can add task and choose date of planned finish</li>
  <li>you will be able to see tasks for every day in a week and months</li>
  <li>
    it will be possible for you to choose future date from calendary and see
    your tasks
  </li>
</ul>
<div class="user">
  <span>example user:</span>
  <div class="data">
    <p>logIn: {{ "user@user.com" }}</p>
    <p>password: password1234</p>
  </div>
</div>
<div class="logInPanel">
  <button (click)="changePanel(but1.textContent)" class="btn btn__purple" #but1>
    sign up
  </button>
  <button (click)="changePanel(but2.textContent)" class="btn btn__purple" #but2>
    sign in
  </button>
</div>
