@import "../../../../public/sass/main.scss";
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.functions {
  padding: 1rem;
  & > * {
    margin: 1rem 0;
  }
}
.user {
  display: flex;
  margin: 1rem;
  .data {
    border: 2px solid $color_purple--light;
    padding: 1rem;
    margin-left: 1rem;
  }
}
.logInPanel {
  margin: 1rem 0;

  & > *:first-child {
    margin-right: 1rem;
  }
}
