@import "../../../../public/sass/main.scss";
:host {
  min-width: 50%;
  margin: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 80vw;
  border: 2px solid $color_white;
  padding: 1rem;

  &__input {
    margin: 1rem 0;
    border: none;
    outline: none;
    height: 3rem;
    color: $color_purple--light;
  }
  .btn {
    margin: 1rem 0;
  }
  .info {
    margin: 1rem 0;
    &__full {
      font-size: 1.3rem;
    }
    &__empty {
      height: 1.5rem;
    }
  }
}
