<form (ngSubmit)="onSubmit()" #connectForm="ngForm" class="form">
  <label for="name">username: </label>
  <input
    type="text"
    name="name"
    id="name"
    [value]="name"
    ngModel
    autocomplete="false"
    class="form__input"
  />
  <label for="password">password: </label>
  <input
    type="text"
    name="password"
    [value]="password"
    id="password"
    class="form__input"
    autocomplete="false"
    ngModel
  />
  <button class="btn btn__purple">{{ mode }}</button>
</form>
