
@if(info){
  <p>{{info}}</p>
}
<form (ngSubmit)="onSubmit()" [formGroup]="form" class="form">
  <label for="email">Email: </label>
  <input
    type="email"
    name="email"
    id="email"
    [value]="email"
    autocomplete="false"
    class="form__input"
    formControlName="email"
  />
  <p
    [class]="{
      info: true,
      info__full: userEmail.invalid && userEmail.touched,
      info__empty: userEmail.valid || userEmail.untouched
    }"
  >
  @if(userEmail.errors?.['minlength'] && userEmail.touched){
    <p>username needs to have : {{userEmail.errors?.['minlength'].requiredLength}} characters but has: {{userEmail.errors?.['minlength'].actualLength}} </p>
   }
   @else if(userEmail.errors?.['maxlength'] && userEmail.touched){
    <p>username needs to have : {{userEmail.errors?.['maxlength'].requiredLength}} characters but has: {{userEmail.errors?.['maxlength'].actualLength}}  </p>
   }
   @else if(userEmail.errors?.['email'] && userEmail.touched){
    <p>is not a valid email </p>
   }
    @else if(userEmail.invalid && userEmail.touched){ this field is required}
   
  </p>
  <label for="password">password: </label>
  <input
    type="text"
    name="password"
    [value]="password"
    id="password"
    class="form__input"
    autocomplete="false"
    formControlName="password"
  />
  <p
    [class]="{
      info: true,
      info__full: userPassword.invalid && userPassword.touched,
      info__empty: userPassword.valid || userPassword.untouched
    }"
  >
  @if(userPassword.errors?.['minlength'] && userPassword.touched){
    <p>username needs to have : {{userPassword.errors?.['minlength'].requiredLength}} characters but has: {{userPassword.errors?.['minlength'].actualLength}} </p>
   }
   @else if(userPassword.errors?.['maxlength'] && userPassword.touched){
    <p>username needs to have : {{userPassword.errors?.['maxlength'].requiredLength}} characters but has: {{userPassword.errors?.['maxlength'].actualLength}}  </p>
   }
   @else if(userPassword.errors?.['email'] && userPassword.touched){
    <p>is not a valid email </p>
   }
    @else if(userPassword.invalid && userPassword.touched){ this field is required}
  </p>
  <button type="submit" [class]=
  "{btn:true,
    btn__purple:form.valid,
    btn__disabled:form.invalid
  }"   >{{ mode }}</button>
  <button type="button" class="btn btn__purple" (click)="onCancel()">cancel</button>
</form>
