@import "../../../public/sass/main.scss";
.mainPage {
  min-height: 100vh;
  width: 80vw;
  display: grid;

  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content minmax(max-content, 1fr) max-content;
  grid-template-areas:
    "sNav  tNav"
    "sNav main"
    "footer footer";
  gap: 2px;
  padding: 2px;
  background-color: $color_white;
  & > * {
    background-color: $color_black;
  }
  &__sidenav {
    grid-area: sNav;
  }
  &__topnav {
    grid-area: tNav;
    padding: 1rem;
    text-align: right;
    & > * {
      margin-right: 1rem;
    }
  }
  &__content {
    grid-area: main;
  }
  &__footer {
    grid-area: footer;
  }
}
