<form (ngSubmit)="onSubmit()" [formGroup]="form" class="newTask">
  <mat-form-field>
    <mat-label>title</mat-label>
    <input matInput formControlName="title" (blur)="updateErrorMessage()" />
  </mat-form-field>
  @if (title.invalid && title.dirty) {

  <mat-error>{{ errorMessage().title }}</mat-error>
  }
  <mat-form-field>
    <mat-label>Enter task content</mat-label>
    <textarea
      matInput
      formControlName="content"
      (blur)="updateErrorMessage()"
      class="newTask__content"
    >
    </textarea>
  </mat-form-field>
  @if (content.invalid && content.dirty) {
  <mat-error>{{ errorMessage().content }}</mat-error>
  }
  <div formArrayName="options" class="options">
    <label for="daily" class="options__label"
      ><input
        type="radio"
        name="0"
        id="daily"
        value="daily"
        formControlName="0"
      />
      Daily Task</label
    >
    <label for="goal" class="options__label"
      ><input
        type="radio"
        id="goal"
        value="goal"
        name="0"
        formControlName="0"
      />
      Set Goal</label
    >
    <label for="once" class="options__label" style="cursor: pointer">
      <input
        type="radio"
        id="once"
        value="once"
        name="0"
        onclick="oneDate.showPicker()"
        formControlName="0"
        style="visibility: hidden"
      />
      <input
        type="date"
        id="oneDate"
        style="visibility: hidden; width: 0"
        name="1"
        formControlName="1"
      />
      One time Task
    </label>
    @if(panelOptions().length){
    <div
      class="options__panel"
      [style]="{
        'border-color':
          (fullDate().from && fullDate().to && !errorMessage().date) ||
          setDailyGoalCorrect
            ? 'green'
            : ''
      }"
    >
      @for(option of panelOptions();track option.index){
      <label [for]="option.value" class="option">
        @if(panelOptions().length!==2){ @if($first){<span>every: </span> }
        <input
          [id]="option.value"
          type="radio"
          name="1"
          formControlName="1"
          [value]="option.value"
        />
        }@else {
        <input
          [id]="option.value"
          type="date"
          name="1"
          formControlName="1"
          (change)="setGoal(option.index)"
        />
        }

        {{ option.value }}</label
      >
      } @if(errorMessage().date){
      <p class="error">{{ errorMessage().date }}</p>

      }
    </div>

    }@else{ @if(errorMessage().date){
    <p class="error">{{ errorMessage().date }}</p>

    } }
  </div>
  <button
    [class]="{
      btn: true,
      btn__rounded: true,
      btn__right: true,
      btn__purple: form.valid,
      btn__disabled: form.invalid
    }"
  >
    Submit
  </button>
</form>
