/* You can add global styles to this file, and also import other style files */
@import "../public/sass/main.scss";
:root {
  box-sizing: border-box;
  font-size: 65%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 1.5em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
